/*Fuentes*/

@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Bold.ttf);
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'OpenSans';
    src: url(../font/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

/*General*/

body{
    margin: 0;
    display: flex;
    font-family: 'OpenSans';
    flex-direction: row;
    height: 100vh;
}

/*Contactos*/

.contactos{
display: flex;
flex-direction: column;
flex-basis: 25%;
border-right: 1px solid #BEC1BB ;

}

/*Usuario*/

.usuario{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    gap: 15px;
    border-bottom: 1px solid #BEC1BB ;
    
}

/*Estado de usuario*/

.maria {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.estado{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nombre{
    font-size: medium;
}

.activo{
    font-size: x-small;
    color: #BEC1BB;
}

.foto img{
    width: 40px;
    border-radius: 50%;
}

/*Íconos de usuario*/

.iconos{
    display: flex;
    gap: 15px;
    color: #828485;
}

.boton{
display: flex;
justify-content: center;
align-items: center;
padding: 35px;
border-bottom:1px #BEC1BB solid ;
}

.boton button{
background-color: #A491D2;
color:white ;
border: none;
padding: 15px 75px;
}

/*Los Chats*/



/*Sección principal*/

.principal{
    background-color: rgb(86, 158, 148);
    flex: 1;

}